@inherits LayoutComponentBase

@Body
<html>
<head>
    <meta name="viewport" content="width=device-width,initial-scale=0.8"/>
    <title>NJUArchery</title>
    <link href="css/site.scss" rel="stylesheet" />
</head>
<body>
    <div class="container"/>
        <div class="sidebar"/>
        <a href="/" class="logo">
            <img src="" alt="logo"/>
        </a>
        <nav>
            <ul>
                <li><NavLink href="/" class="nav_link">主页</NavLink></li>
            </ul>
        </nav>

</body>
</html>